/include/ "system-conf.dtsi"
/ {
  model = "Zynq Z-Turn V2 MYIR Board";
  compatible = "myir,zynq-zturn", "xlnx,zynq-7000";
  
  gpio-leds {
    compatible = "gpio-leds";
    usr-led1 {
      label = "usr-led1";
      gpios = <&gpio0 0x0 0x1>;
      default-state = "off";
    };
   
    usr-led2 {
      label = "usr-led2";
      gpios = <&gpio0 0x9 0x1>;
      default-state = "off";
    };
  };
   
  gpio-keys {
    compatible = "gpio-keys";
    autorepeat;
    K1 {
      label = "K1";
      gpios = <&gpio0 0x32 0x1>;
      linux,code = <0x66>;
      wakeup-source;
      autorepeat;
    };
  };

  usb_phy0: usb_phy@0 {
    compatible = "ulpi-phy";
    #phy-cells = <0>;
    reg = <0xe0002000 0x1000>;
    view-port = <0x170>;
    drv-vbus;
  };
  
  sound {
      compatible = "simple-audio-card";
      simple-audio-card,name = "Zynq Sound Formatter";
      simple-audio-card,bitclock-master = <&dailink0_master>;
      simple-audio-card,frame-master = <&dailink0_master>;
      
      /* advertise supported rates & formats */
      simple-audio-card,rates = <32000 48000 96000 192000>;
      simple-audio-card,formats = "S16_LE", "S24_LE";
  
      simple-audio-card,cpu {
          sound-dai = <&audio_formatter_0>;  /* <- Sound Formatter IP */
      };
  
      dailink0_master: simple-audio-card,codec {
          sound-dai = <&spdif_0>;
      };
  };
};

/* Fix broken link to DAI */
&audio_formatter_0 {
  status = "okay";
  xlnx,tx = <&spdif_0>;
};

/* Link the SPDIF IP with its Audio Formatter */
&spdif_0 {
  status = "okay";
  xlnx,snd-pcm = <&audio_formatter_0>;
};

&usb0 {
  status = "okay";
  dr_mode = "host";
  phy_type = "ulpi";
  usb-phy = <&usb_phy0>;
};


&gpio0 {
  status = "okay";
};

&sdhci0 {
  status = "okay";
};

&gem0 {
  status = "okay";
  compatible = "xlnx,zynq-gem";
  xlnx,has-mdio = <0x1>;
  phy-mode = "rgmii-id";
  xlnx,ptp-enet-clock = <0x69f6bcb>;
 
  ethernet-phy@0 {
      compatible = "ethernet-phy-ieee802.3-c22";
      reg = <0>;
      max-speed = <1000>;
  };

  ethernet-phy@7 {
      compatible = "ethernet-phy-ieee802.3-c22";
      reg = <7>;
      max-speed = <1000>;
  };  
};

&qspi {
  status = "okay";
  
	flash0: flash@0 {
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
    size = <0x1000000>;  /* 16MB (128Mbit) */
    has-dpd;
    t-enter-dpd = <20000>;
    t-exit-dpd = <100000>;
    jedec-id = [ef 70 18];
	};
};

&i2c0 {
  status = "okay";
  clock-frequency = <200000>;
 
  stlm75@49 {
    status = "okay";
    compatible = "lm75";
    reg = <0x49>;
  };
 
  accelerometer@53 {
    compatible = "adi,adxl345", "adxl345", "adi,adxl34x", "adxl34x";
    reg = <0x53>;
    interrupt-parent = <&intc>;
    interrupts = <0x0 0x1e 0x4>;
  };
};